%html
	%head
		%link{href: '//fonts.googleapis.com/css?family=Yellowtail', rel: 'stylesheet', type: 'text/css'}
		%link{rel: "stylesheet", type: "text/css", href: "css/style.css"}
		%title Holiday Letter
