= haml :_head
%body.pure-skin-holiday
  .wrapper
    .header        
      %h1
        Welcome
    .content
      %h2= "Just 2 quick questions"
      %form{action: "generate", method: "POST", class: "pure-form pure-form-stacked"}
        %fieldset
          %label= "Please enter your name"
          %input{ name: "name", required: ""}

          %label Select your religious preference
          = religion_selector()
        %button{ type: "submit", class: "pure-button" }
          Show me the letter
