= haml :_head
%body
  .wrapper
    .header        
      %h2
        Welcome to YOUR Holiday Letter
    .content
      %h2= "Just 2 quick questions"
      %form{action: "generate", method: "POST"}
        .input-field
          %label= "Please enter your name"
          %input{ name: "name", required: ""}

        .input-field
          %label Select your religious preference
          = religion_selector()
        %button{ type: "submit" }
          Show me the letter
