/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font:18px/1.531 arial,helvetica,clean,sans-serif;
	vertical-align: baseline;
	background: transparent;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PAGE LAYOUT */

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}

body {
	margin: 0 auto;
	width: 960px;
}

.content {
	margin: 0 20px 0 30px;
}

.footer, #push {
	height: 80px; /* #push must be the same height as #footer */
}

.footer {
	background: url(img/footer.png) repeat-x 0% 0%;
	clear: both;
	margin: 0 auto;
	padding: 20px 0 0 20px;
	width: 940px;
}

/* HEADER */

.header {
	background: url(img/header.jpg) no-repeat 0% 0%;
	height: 200px;
}

.header h1 {
	color: #fff;
	font-size: 272%;
	margin: 0;
	padding: 108px 0 0 160px;
}

.header h2 {
	color: #fff;
	font-size: 108%;
	margin: 0;
	padding: 100px 0 0 150px;
}

/* MENU 1 */

.menu1 {
	background: url(img/bg_menu1.png) no-repeat 0% 0%;
	float: left;
	height: 42px;
	margin: 0 0 18px 0;
	width: 100%;
}

.menu1 ul {
	padding: 0;
	margin: 0;
	float: left;

}

.menu1 ul li { 
	display: inline; 
}

.menu1 ul li a,#menu1 ul li a:link {
	color: #fff;
	float: left;
	padding: 7px 10px 8px 10px;
	text-decoration: none;
}

.menu1 ul li a:hover {
	background-color: #fff;
	color: #37657f;
	padding: 7px 10px 8px 10px;
}

/* MENU 2 */

.menu2 { 
	float: left;
	margin: 0 0 0 20px;
	width: 110px;
}

* html #menu2 { 
	float: left;
	margin-left: 0;
	padding-left: 20px;
	width: 125px;
}

.menu2 ul { 
	background-color: #5f8499;
	padding: 10px 0 0 0;
	margin: 0;
}

.menu2 ul li a {
	background: url(img/arrow.gif) no-repeat left center;
	color: #fff;
	display: block;
	font-size: 93%;
	font-weight: normal;
	padding: 0.25em 0 0.25em 10px;
	text-decoration: none;
	text-indent: 10px;
	width: 100%;
}

.menu2 ul li a:hover {
	background: url(img/arrowOn.gif) no-repeat left center;
	background-color: #afc1cc;
	color: #37657f;
}

/* SIDEBAR */

.sidebar_bg {
	background: url(img/sidebar_bg.png) repeat-y 0% 0%;
}

.sidebar {
	position: relative;
	background-color: #afc1cc;
	color: #fff;
	margin: 0 0 0 130px;
	padding: 10px;
	width: 130px;
}

* html .sidebar {
	position: relative;
	color: #fff;
	margin: 0 0 0 130px;
	padding: 10px;
	width: 110px;
}

.sidebar a, .sidebar a:link {
	color: #37657f;
}

/* HEADINGS */

h1, h2, h3, h4, h5, h6 
{ 	
	color: #37657f;
	letter-spacing: 1px;
	margin: 0 0 18px 0;
	text-transform: uppercase;
}

h1 {
	font-size: 189%;
}

h2 {
	font-size: 146.5%;
}

h3 {
	border-top: 2px dotted #afc1cc;
	border-bottom: 2px dotted #afc1cc;
	font-size: 131%;
	padding: 5px 0;
}

h4, h5, h6 {
	font-size: 100%;
}

/* LINKS */

a, a:link, a:active, a:visited {
	color: #ea1c26;
	font-weight: bold;
	text-decoration: underline;
}

a:hover {
	color: #37657f;
	text-decoration: none;
}

/* SITE STYLES */

body {
	background-color: #37657f;
}

.wrapper {
	background-color: #fff;
}

div {
margin: 0;
}

p {
	margin: 0 0 18px 0;
}

img {
	border: 0;
}

.float_left { 
	float: left; 
}

.float_right { 
	float: right; 
}

p.float_left { 
	float: left;
	width: 48%;
	margin: 0 2% 20px 0;
}

p.float_right { 
	float: right; 
	width: 48%;
	margin: 0 0 20px 0;
}

img.float_left { 
	background: #fff url(img/img_border.gif) no-repeat 0% 0%;
	border-bottom: 7px solid #37657f;
	float: left;
	margin: 4px 10px 0 0;
	padding: 0 0 3px 10px;
}

img.float_right { 
	background: #fff url(img/img_border.gif) no-repeat 0% 0%;
	border-bottom: 7px solid #37657f;
	float: right;
	margin: 4px 0 0 10px;
	padding: 0 0 3px 10px;
}

.input-field {
	padding: 10px 0;
}

.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
	display: inline-block;
}

* html .clear {
height: 1%;
}


/*
 * Corrects margin displayed oddly in IE 6/7.
 */

.pure-skin-holiday .pure-form {
    margin: 0;
}

/* Define consistent border, margin, and padding.*/
 

.pure-skin-holiday .pure-form fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

.pure-skin-holiday .pure-form legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

.pure-skin-holiday .pure-form button,
.pure-skin-holiday .pure-form input,
.pure-skin-holiday .pure-form select,
.pure-skin-holiday .pure-form textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

.pure-skin-holiday .pure-form button,
.pure-skin-holiday .pure-form input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

.pure-skin-holiday .pure-form button,
.pure-skin-holiday .pure-form input[type="button"], /* 1 */
.pure-skin-holiday .pure-form input[type="reset"],
.pure-skin-holiday .pure-form input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

.pure-skin-holiday .pure-form button[disabled],
.pure-skin-holiday .pure-form input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

.pure-skin-holiday .pure-form input[type="checkbox"],
.pure-skin-holiday .pure-form input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

.pure-skin-holiday .pure-form input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

.pure-skin-holiday .pure-form input[type="search"]::-webkit-search-cancel-button,
.pure-skin-holiday .pure-form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

.pure-skin-holiday .pure-form button::-moz-focus-inner,
.pure-skin-holiday .pure-form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

.pure-skin-holiday .pure-form textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
/* ===============  forms-responsive.css =================*/
@media only screen and (max-width : 480px) {
    .pure-skin-holiday .pure-form button[type="submit"] {
    margin: 0.7em 0 0;
    }

    .pure-skin-holiday .pure-form input[type="text"],
    .pure-skin-holiday .pure-form input[type="password"],
    .pure-skin-holiday .pure-form input[type="email"],
    .pure-skin-holiday .pure-form input[type="url"],
    .pure-skin-holiday .pure-form input[type="date"],
    .pure-skin-holiday .pure-form input[type="month"],
    .pure-skin-holiday .pure-form input[type="time"],
    .pure-skin-holiday .pure-form input[type="datetime"],
    .pure-skin-holiday .pure-form input[type="datetime-local"],
    .pure-skin-holiday .pure-form input[type="week"],
    .pure-skin-holiday .pure-form input[type="number"],
    .pure-skin-holiday .pure-form input[type="search"],
    .pure-skin-holiday .pure-form input[type="tel"],
    .pure-skin-holiday .pure-form input[type="color"],
    .pure-skin-holiday .pure-form label {
        margin-bottom: 0.3em;
        display: block;
    }
    
    .pure-skin-holiday .pure-group input[type="text"],
    .pure-skin-holiday .pure-group input[type="password"],
    .pure-skin-holiday .pure-group input[type="email"],
    .pure-skin-holiday .pure-group input[type="url"],
    .pure-skin-holiday .pure-group input[type="date"],
    .pure-skin-holiday .pure-group input[type="month"],
    .pure-skin-holiday .pure-group input[type="time"],
    .pure-skin-holiday .pure-group input[type="datetime"],
    .pure-skin-holiday .pure-group input[type="datetime-local"],
    .pure-skin-holiday .pure-group input[type="week"],
    .pure-skin-holiday .pure-group input[type="number"],
    .pure-skin-holiday .pure-group input[type="search"],
    .pure-skin-holiday .pure-group input[type="tel"],
    .pure-skin-holiday .pure-group input[type="color"] {
        margin-bottom: 0;
    }

    .pure-skin-holiday .pure-form-aligned .pure-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .pure-skin-holiday .pure-form-aligned .pure-controls {
        margin: 1.5em 0 0 0;
    }

    /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
    .pure-skin-holiday .pure-form .pure-help-inline,
    .pure-skin-holiday .pure-form-message-inline,
    .pure-skin-holiday .pure-form-message {
        display: block;
        font-size: 80%;
        /* increased bottom padding to make it group with its related input element */
        padding: 0.2em 0 0.8em;
    }
}

/* ===============  forms.css =================================*/
.pure-skin-holiday .pure-form input[type="text"],
.pure-skin-holiday .pure-form input[type="password"],
.pure-skin-holiday .pure-form input[type="email"],
.pure-skin-holiday .pure-form input[type="url"],
.pure-skin-holiday .pure-form input[type="date"],
.pure-skin-holiday .pure-form input[type="month"],
.pure-skin-holiday .pure-form input[type="time"],
.pure-skin-holiday .pure-form input[type="datetime"],
.pure-skin-holiday .pure-form input[type="datetime-local"],
.pure-skin-holiday .pure-form input[type="week"],
.pure-skin-holiday .pure-form input[type="number"],
.pure-skin-holiday .pure-form input[type="search"],
.pure-skin-holiday .pure-form input[type="tel"],
.pure-skin-holiday .pure-form input[type="color"],
.pure-skin-holiday .pure-form select,
.pure-skin-holiday .pure-form textarea {
    padding: 0.56em 1.08em;
    display: inline-block;
    border: 1px solid #186e77;
    font-size: 0.8em;
    box-shadow: inset 0 1px 3px #186e77;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.pure-skin-holiday .pure-form input[type="text"]:focus,
.pure-skin-holiday .pure-form input[type="password"]:focus,
.pure-skin-holiday .pure-form input[type="email"]:focus,
.pure-skin-holiday .pure-form input[type="url"]:focus,
.pure-skin-holiday .pure-form input[type="date"]:focus,
.pure-skin-holiday .pure-form input[type="month"]:focus,
.pure-skin-holiday .pure-form input[type="time"]:focus,
.pure-skin-holiday .pure-form input[type="datetime"]:focus,
.pure-skin-holiday .pure-form input[type="datetime-local"]:focus,
.pure-skin-holiday .pure-form input[type="week"]:focus,
.pure-skin-holiday .pure-form input[type="number"]:focus,
.pure-skin-holiday .pure-form input[type="search"]:focus,
.pure-skin-holiday .pure-form input[type="tel"]:focus,
.pure-skin-holiday .pure-form input[type="color"]:focus,
.pure-skin-holiday .pure-form select:focus,
.pure-skin-holiday .pure-form textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

.pure-skin-holiday .pure-form input[type="file"]:focus,
.pure-skin-holiday .pure-form input[type="radio"]:focus,
.pure-skin-holiday .pure-form input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}
.pure-skin-holiday .pure-form .pure-checkbox,
.pure-skin-holiday .pure-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}
.pure-skin-holiday .pure-form input[type="text"][disabled],
.pure-skin-holiday .pure-form input[type="password"][disabled],
.pure-skin-holiday .pure-form input[type="email"][disabled],
.pure-skin-holiday .pure-form input[type="url"][disabled],
.pure-skin-holiday .pure-form input[type="date"][disabled],
.pure-skin-holiday .pure-form input[type="month"][disabled],
.pure-skin-holiday .pure-form input[type="time"][disabled],
.pure-skin-holiday .pure-form input[type="datetime"][disabled],
.pure-skin-holiday .pure-form input[type="datetime-local"][disabled],
.pure-skin-holiday .pure-form input[type="week"][disabled],
.pure-skin-holiday .pure-form input[type="number"][disabled],
.pure-skin-holiday .pure-form input[type="search"][disabled],
.pure-skin-holiday .pure-form input[type="tel"][disabled],
.pure-skin-holiday .pure-form input[type="color"][disabled],
.pure-skin-holiday .pure-form select[disabled],
.pure-skin-holiday .pure-form textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #1b7d88;
    background-color: #ededed;
    color: #e1f7f9;
    border-color: #186e77;
}
.pure-skin-holiday .pure-form input[readonly],
.pure-skin-holiday .pure-form select[readonly],
.pure-skin-holiday .pure-form textarea[readonly],
.pure-skin-holiday .pure-form input[readonly]:focus,
.pure-skin-holiday .pure-form select[readonly]:focus,
.pure-skin-holiday .pure-form textarea[readonly]:focus {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
.pure-skin-holiday .pure-form input:focus:invalid,
.pure-skin-holiday .pure-form textarea:focus:invalid,
.pure-skin-holiday .pure-form select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
.pure-skin-holiday .pure-form input:focus:invalid:focus,
.pure-skin-holiday .pure-form textarea:focus:invalid:focus,
.pure-skin-holiday .pure-form select:focus:invalid:focus {
    border-color: #e9322d;
}
.pure-skin-holiday .pure-form input[type="file"]:focus:invalid:focus,
.pure-skin-holiday .pure-form input[type="radio"]:focus:invalid:focus,
.pure-skin-holiday .pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.pure-skin-holiday .pure-form select {
    border: 1px solid #186e77;
    background-color: white;
}
.pure-skin-holiday .pure-form select[multiple] {
    height: auto;
}
.pure-skin-holiday .pure-form label {
    margin: 0.5em 0 0.2em;
    font-size:90%;
}
.pure-skin-holiday .pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.pure-skin-holiday .pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #f6fdfd;
    border-bottom: 1px solid #1b7d88;
}

.pure-skin-holiday .pure-form-stacked input[type="text"],
.pure-skin-holiday .pure-form-stacked input[type="password"],
.pure-skin-holiday .pure-form-stacked input[type="email"],
.pure-skin-holiday .pure-form-stacked input[type="url"],
.pure-skin-holiday .pure-form-stacked input[type="date"],
.pure-skin-holiday .pure-form-stacked input[type="month"],
.pure-skin-holiday .pure-form-stacked input[type="time"],
.pure-skin-holiday .pure-form-stacked input[type="datetime"],
.pure-skin-holiday .pure-form-stacked input[type="datetime-local"],
.pure-skin-holiday .pure-form-stacked input[type="week"],
.pure-skin-holiday .pure-form-stacked input[type="number"],
.pure-skin-holiday .pure-form-stacked input[type="search"],
.pure-skin-holiday .pure-form-stacked input[type="tel"],
.pure-skin-holiday .pure-form-stacked input[type="color"],
.pure-skin-holiday .pure-form-stacked select,
.pure-skin-holiday .pure-form-stacked label,
.pure-skin-holiday .pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

.pure-skin-holiday .pure-form-aligned input,
.pure-skin-holiday .pure-form-aligned textarea,
.pure-skin-holiday .pure-form-aligned select,
/* note: pure-help-inline is deprecated. Use .pure-form-message-inline instead */
.pure-skin-holiday .pure-form-aligned .pure-help-inline, 
.pure-skin-holiday .pure-form-message-inline {
    display: inline-block;
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
    vertical-align: middle;
}

/* aligned Forms */
.pure-skin-holiday .pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.pure-skin-holiday .pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.pure-skin-holiday .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 10em;
}

/* Rounded Inputs */
.pure-skin-holiday .pure-form input.pure-input-rounded,
.pure-skin-holiday .pure-form .pure-input-rounded {
    border-radius: 33px;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-skin-holiday .pure-form .pure-group fieldset {
    margin-bottom: 10px;
}
.pure-skin-holiday .pure-form .pure-group input {
    display: block;
    padding: 0.56em 1.08em;
    margin: 0;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.pure-skin-holiday .pure-form .pure-group input:focus {
    z-index: 2;
}
.pure-skin-holiday .pure-form .pure-group input:first-child {
    top: 1px;
    border-radius: 4px 4px 0px 0px;
}
.pure-skin-holiday .pure-form .pure-group input:last-child {
    top: -2px;
    border-radius: 0px 0px 4px 4px;
}
.pure-skin-holiday .pure-form .pure-group button {
    margin: 0.35em 0;
}

.pure-skin-holiday .pure-form .pure-input-1 {
    width: 100%;
}
.pure-skin-holiday .pure-form .pure-input-2-3 {
    width: 66%;
}
.pure-skin-holiday .pure-form .pure-input-1-2 {
    width: 50%;
}
.pure-skin-holiday .pure-form .pure-input-1-3 {
    width: 33%;
}
.pure-skin-holiday .pure-form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* Note: pure-help-inline is deprecated. Use .pure-form-message-inline instead */ 
.pure-skin-holiday .pure-form .pure-help-inline,
.pure-skin-holiday .pure-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #e1f7f9;
    vertical-align: middle;
    font-size: 90%;
}

/* Block help for forms */
.pure-skin-holiday .pure-form-message {
    display: block;
    color: #e1f7f9;
    font-size: 90%;
}
/* note no template for forms-r.css. no skinnable properties */

/* foundational CSS */
.pure-skin-holiday .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #dedede;
}

.pure-skin-holiday .pure-table caption {
    color: #e1f7f9;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-skin-holiday .pure-table td,
.pure-skin-holiday .pure-table th {
    border-left: 1px solid #dedede;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.34em 1.08em; /* cell padding */
}

.pure-skin-holiday .pure-table td:first-child,
.pure-skin-holiday .pure-table th:first-child {
    border-left-width: 0;
}

.pure-skin-holiday .pure-table thead {
    background-color: #d7d6d6;
    color: #030303;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-skin-holiday .pure-table td {
    background-color: #ededed;
    color: #030303;
}
.pure-skin-holiday .pure-table-odd td {
    background-color: #dedede;
    color: #030303;
}

/* nth-child selector for modern browsers */
.pure-skin-holiday .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #dedede;
    color: #030303;
}


/* BORDERED TABLES */
.pure-skin-holiday .pure-table-bordered td {
    border-bottom: 1px solid #dedede;
}
.pure-skin-holiday .pure-table-bordered tbody > tr:last-child td,
.pure-skin-holiday .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-skin-holiday .pure-table-horizontal td,
.pure-skin-holiday .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #dedede;
}
.pure-skin-holiday .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* from PURE menu-core.css */
/*csslint adjoining-classes:false, outline-none:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/ 

.pure-skin-holiday .pure-menu ul {
    position: absolute;
    visibility: hidden;
}

.pure-skin-holiday .pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.pure-skin-holiday .pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.pure-skin-holiday .pure-menu > ul { position: relative; }

.pure-skin-holiday .pure-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.pure-skin-holiday .pure-menu-open > ul:focus {
    outline: 0;
}

.pure-skin-holiday .pure-menu li {
    position: relative;
}

.pure-skin-holiday .pure-menu a, .pure-skin-holiday .pure-menu .pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    padding: 0.39em 2.52em;
    text-decoration: none;
    white-space: nowrap;
}

.pure-skin-holiday .pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.pure-skin-holiday .pure-menu.pure-menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* height: 2.4em; removed for Skin Builder */
}

.pure-skin-holiday .pure-menu li a { padding: 0.39em 2.52em; }

.pure-skin-holiday .pure-menu-can-have-children > .pure-menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif; /* These specific fonts have the Unicode char we need. */
    margin-right: -20px;
    margin-top: -1px;
}

.pure-skin-holiday .pure-menu-can-have-children > .pure-menu-label {
    padding-right: 30px;
}

.pure-skin-holiday .pure-menu-separator {
    background-color: #dedede;
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.pure-skin-holiday .pure-menu-hidden {
    display: none;
}

/* FIXED MENU */
.pure-skin-holiday .pure-menu-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.signature {
    font-family: 'Yellowtail', cursive;
    font-size: 18pt;
}